@font-face {
    font-family: 'odin';
    src: url(Norse-Bold.otf);
}
@font-face {
    font-family: 'default';
    src: url(IBMPlexSans-Regular.ttf);
}
body {
    height: 100vh;
}
.master {
    display: flex;
    margin: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.527);
    overflow: hidden;
    height: 90%;
}

.main {
    height: 100%;
    max-width: 65%;
}


.sideImage {
    display: flex;
    background-image: url(odin-side-background.avif);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 340px;
    flex-direction: column;
    align-content: center;
}

img {
    align-self: center;
    height: 5rem;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.61);
    margin-top: 50%;
}
.bar {
    display: flex;
    height: 5.5rem;
}


h1 {
    font-family: 'odin';
    align-self: center;
    color: white;
    font-size: 5rem;
}

/* this is where the 2nd half of the page is */

form {
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}
.diclaimer {
    display: flex;
    flex-direction: column;
    font-family: 'default';
    align-content: center;
    justify-content: center;
    margin-left: 20px;
}

/*start of form*/

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    font-family: 'default'
}


fieldset {
    border: none;
    outline: none;
    gap: 3rem;
    justify-content: space-around;
}
.cell {
    display: flex;
    border: none;
    outline: none;    
    flex-direction: column;
    width: 30rem;
    font-family: 'default';
    justify-content: space-around;
}
.cell input {
    border-radius: 4px;
}















