* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}


.Header {
     display: flex;
     font-size: 50px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-shrink: 1;
    gap: 100px;
    margin-top: 100px;
    flex-direction: row;
    
}

.rock-button {
  display: flex;
  border-radius: 8px;
}
.paper-button {
  display: flex;
    border-radius: 8px;
}
.scissors-button {
  display: flex;
  border-radius: 8px;
}

.game {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 200px;
}

.gameWords {
  display: flex;
  margin: 5px;
  color: 255, 13, 231;
  background: 5, 80, 255;
  /*This is not ment to be here - just to outline different elements and where the RPS-ui output should go. */
}

.gameOutput {
  display: flex;
  color: black;
  background-color: 199, 194, 157;
}
